// body{

// }

/* Щоб не було випадання */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

/* Щоб не було зайвих відступів */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}