<section>
  <p>tradition and love</p>
  <h2>how it`s made?</h2>
  <div>
    <img class="about__img" src="./images/a_cow.jpg" alt="cow" width="490px" />
  </div>
  <p>
    Ice is a place where you will become not only a little happier, but also
    healthier. Health is the main value for us, and we follow it when creating
    our handmade desserts.
  </p>
  <p>
    We use traditional recipes and 100% natural ingredients. Our products are so
    natural that they can be given to children from the age of three years.
    Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
    milkshakes.
  </p>
  <p>This is enough to choose ice cream and coffee for any mood!</p>
  <button type="button">Read more</button>
</section>
