<section class="section-advantages">
  <div class="container">
    <h2 class="section-advantages__title visually-hidden">Advantages</h2>
    <ul class="advantages list">
      <li class="advantages__item">
        <div class="advantages__meta">
          <p class="advantages__title advantages__title-cow">721</p>
          <p class="advantages__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__meta">
          <p class="advantages__title advantages__title-weight">16kg</p>
          <p class="advantages__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__meta">
          <p class="advantages__title advantages__title-ice">84</p>
          <p class="advantages__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
