<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <div class="contacts__category">
          <p class="contacts__category--name">CAFE</p>
        </div>

        <address class="contacts__address">
          <p class="contacts__address--location">Chicago</p>
          <a
            href="https://goo.gl/maps/rwnodtb79APeGLM78"
            class="contacts__address--link"
          >
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </a>
        </address>

        <div class="contacts__working-hours">
          <p class="contacts__working-hours--days">Monday - Friday</p>
          <span class="contacts__working-hours--time">06:00 AM - 10:00 PM</span>
          <p class="contacts__working-hours--days">Saturday - Sunday</p>
          <span class="contacts__working-hours--time">08:00 AM - 16:00 PM</span>
        </div>

        <div class="contacts__communication">
          <ul class="contacts__communication--list list">
            <li class="contacts__communication--item">
              <a
                href="tel:+61(0) 383 766 284"
                class="contacts__communication--link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__communication--item">
              <a
                href="mailto:noreply@envato.com"
                class="contacts__communication--link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__category">
          <p class="contacts__category--name">FOODTRUCK</p>
        </div>

        <address class="contacts__address">
          <p class="contacts__address--location">Los Angeles</p>
          <a
            href="https://goo.gl/maps/rwnodtb79APeGLM78"
            class="contacts__address--link"
          >
            1003 Manhattan Ave, Manhattan<br />
            Beach, CA 90263, USA
          </a>
        </address>

        <div class="contacts__working-hours">
          <p class="contacts__working-hours--days">Monday - Friday</p>
          <span class="contacts__working-hours--time">06:00 AM - 10:00 PM</span>
          <p class="contacts__working-hours--days">Saturday - Sunday</p>
          <span class="contacts__working-hours--time">08:00 AM - 16:00 PM</span>
        </div>

        <div class="contacts__communication">
          <ul class="contacts__communication--list list">
            <li class="contacts__communication--item">
              <a
                href="tel:+61(0) 383 766 284"
                class="contacts__communication--link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__communication--item">
              <a
                href="mailto:noreply@envato.com"
                class="contacts__communication--link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__category">
          <p class="contacts__category--name">CAFE</p>
        </div>

        <address class="contacts__address">
          <p class="contacts__address--location">New York</p>
          <a
            href="https://goo.gl/maps/rwnodtb79APeGLM78"
            class="contacts__address--link"
          >
            726 Sterling Pl, Brooklyn, NY<br />
            11222, USA
          </a>
        </address>

        <div class="contacts__working-hours">
          <p class="contacts__working-hours--days">Monday - Friday</p>
          <span class="contacts__working-hours--time">06:00 AM - 10:00 PM</span>
          <p class="contacts__working-hours--days">Saturday - Sunday</p>
          <span class="contacts__working-hours--time">08:00 AM - 16:00 PM</span>
        </div>

        <div class="contacts__communication">
          <ul class="contacts__communication--list list">
            <li class="contacts__communication--item">
              <a
                href="tel:+61(0) 383 766 284"
                class="contacts__communication--link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__communication--item">
              <a
                href="mailto:noreply@envato.com"
                class="contacts__communication--link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="contacts__button">
      <button type="button" class="contacts__button--locations">
        Our Locations
        <svg class="contacts__button--svg">
          <use href="./images/symbol-defs.svg#btn-arrow"></use>
        </svg>
      </button>

      <button type="button" class="contacts__button--franchise">
        Franchise
        <svg class="contacts__button--svg">
          <use href="./images/symbol-defs.svg#btn-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
