<section class="contacts">
  <div class="container contacts__container">
      <h2 class="visually-hidden">Contacts</h2>
      <ul class="contacts__list list">
          <li class="contacts__item">
              
              <div class="contacts__category">
               <p class="contacts__category--name">CAFE</p>
              </div>

              <address class="contacts__address">
                  <p class="contacts__address--location">Chicago</p>
                  <a href="https://goo.gl/maps/rwnodtb79APeGLM78" class="contacts__address--link">
                      10340 Ridgeland Ave,
                      Chicago Ridge, IL 60415, USA
                  </a>
              </address>


              <div class="contacts__working-hours">
                  <p class="contacts__working-hours--days">Monday - Friday</p>
                  <span class="contacts__working-hours--time">06:00 AM - 10:00 PM</span>
                  <p class="contacts__working-hours--days">Saturday - Sunday</p>
                  <span class="contacts__working-hours--time">08:00 AM - 16:00 PM</span>
              </div>

            <div class="contacts__communication">
              <ul class="contacts__communication--list list">
                  <li class="contacts__communication--item">
                    <a href="tel:+61(0) 383 766 284" class="contacts__communication--link">+61(0) 383 766 284</a>
                  </li>
                  <li class="contacts__communication--item">
                    <a href="mailto:noreply@envato.com" class="contacts__communication--link">noreply@envato.com</a>
                  </li>
                </ul>
            </div>
          </li>
          <li class="contacts__item">
            <div class="contacts__category">
              <p class="contacts__category--name">FOODTRUCK</p>
             </div>

             <address class="contacts__address">
                 <p class="contacts__address--location">Los Angeles</p>
                 <a href="https://goo.gl/maps/rwnodtb79APeGLM78" class="contacts__address--link">
                  1003 Manhattan Ave, Manhattan<br>
                  Beach, CA 90263, USA
                 </a>
             </address>


             <div class="contacts__working-hours">
                 <p class="contacts__working-hours--days">Monday - Friday</p>
                 <span class="contacts__working-hours--time">06:00 AM - 10:00 PM</span>
                 <p class="contacts__working-hours--days">Saturday - Sunday</p>
                 <span class="contacts__working-hours--time">08:00 AM - 16:00 PM</span>
             </div>

           <div class="contacts__communication">
             <ul class="contacts__communication--list list">
                 <li class="contacts__communication--item">
                   <a href="tel:+61(0) 383 766 284" class="contacts__communication--link">+61(0) 383 766 284</a>
                 </li>
                 <li class="contacts__communication--item">
                   <a href="mailto:noreply@envato.com" class="contacts__communication--link">noreply@envato.com</a>
                 </li>
               </ul>
           </div>
          </li>
          <li class="contacts__item">
            <div class="contacts__category">
              <p class="contacts__category--name">CAFE</p>
             </div>

             <address class="contacts__address">
                 <p class="contacts__address--location">New York</p>
                 <a href="https://goo.gl/maps/rwnodtb79APeGLM78" class="contacts__address--link">
                  726 Sterling Pl, Brooklyn, NY<br>
                  11222, USA
                 </a>
             </address>


             <div class="contacts__working-hours">
                 <p class="contacts__working-hours--days">Monday - Friday</p>
                 <span class="contacts__working-hours--time">06:00 AM - 10:00 PM</span>
                 <p class="contacts__working-hours--days">Saturday - Sunday</p>
                 <span class="contacts__working-hours--time">08:00 AM - 16:00 PM</span>
             </div>

           <div class="contacts__communication">
             <ul class="contacts__communication--list list">
                 <li class="contacts__communication--item">
                   <a href="tel:+61(0) 383 766 284" class="contacts__communication--link">+61(0) 383 766 284</a>
                 </li>
                 <li class="contacts__communication--item">
                   <a href="mailto:noreply@envato.com" class="contacts__communication--link">noreply@envato.com</a>
                 </li>
               </ul>
           </div>
          </li>
        </ul>
        <div class="contacts__button">
          <button type="button" class="contacts__button--locations" data-modal-locations-open>
            Our Locations 
            <svg class="contacts__button--svg">
              <use href="./images/symbol-defs.svg#btn-arrow"></use>
            </svg>
          </button>

          <button type="button" class="contacts__button--franchise" data-modal-franchise-open>
            Franchise
            <svg class="contacts__button--svg">
              <use href="./images/symbol-defs.svg#btn-arrow"></use>
            </svg>
          </button>
        </div>
    </div>
    <!-- <div class="backdrop is-hidden" data-modal-franchise>
      <div class="franchise-modal modal">
        <button class="close-btn" data-modal-franchise-close>
          <svg class="close-btn__icon close-btn--icon-mob" width="20" height="20">
            <use href="./images/symbol-defs.svg#close-icon__mob"></use>
          </svg>
          <svg class="close-btn__icon close-btn--icon-desk" width="24" height="24">
            <use
              class="close-btn__icon-desk"
              href="./images/symbol-defs.svg#close-icon__desk"
            ></use>
          </svg>
        </button>
    
        <h2 class="franchise-modal__title">
          Thank you for your interest in owning an Ice Cream shop
        </h2>
    
        <p class="franchise-modal__text">
          Due to the overwhelming volume of franchise requests we are not accepting
          new franchisee applications at this time. Once the application process
          resumes, we will contact you for further information. Please fill out the
          contact information below and we will reach out for additional
          information. We appreciate your patience.
        </p>
    
        <form class="franchise-modal-form">
          <input
            class="franchise-modal-form__input"
            type="text"
            name="franchise-modal-form__username"
            placeholder="Name"
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Username should only contain letters. e.g. John Smith"
          />
    
          <input
            class="franchise-modal-form__input"
            type="tel"
            name="franchise-modal-form__phone"
            placeholder="Phone"
            pattern="^\+\d{2}\d{3}\d{3}\d{2}\d{2}$"
            title="Phone number should only contain format e.g. +3801234567"
          />
    
          <input
            class="franchise-modal-form__input"
            type="email"
            name="franchise-modal-form__email"
            placeholder="Email"
          />
    
          <textarea
            class="franchise-modal-form__input comment-input"
            name="franchise-modal-form__comment"
            placeholder="Comment"
          ></textarea>
    
          <button class="franchise-modal-form__btn" type="submit">Submit</button>
        </form>
      </div>
    </div>

    <div class="backdrop is-hidden" data-modal-locations>
      <div class="locations-modal modal">
        <button class="close-btn" data-modal-locations-close>
          <svg class="close-btn__icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#close-icon__mob"></use>
          </svg>
          <svg class="close-btn__icon close-btn--icon-desk" width="24" height="24">
            <use
              class="close-btn__icon-desk"
              href="./images/symbol-defs.svg#close-icon__desk"
            ></use>
        </button>
        <h2 class="locations-modal__title">Our Locations</h2>
    
        <iframe
          class="locations-modal__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.55860864262!2d34.4871991408496!3d49.60213457600852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2sPoltava%2C%20Poltava%20Oblast%2C%2036000!5e0!3m2!1sen!2sua!4v1671910230403!5m2!1sen!2sua"
          loading="lazy"
          allowfullscreen=""
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
    
        <button class="locations-modal__button" type="button">
          <span>
            <a
              class="locations-modal__link"
              href="https://goo.gl/maps/CHs9M5zNwjrKm2xAA"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >Open map</a
            >
          </span>
        </button>
      </div>
    </div> -->
    
    
</section>