<section class="customer">
    <div class="customer__bg">
        <div class="customer__container customer__block">
            <h1 class="customer__titel">Customer-Reviews</h1>
        <ul>
            <li><img class="customer__img" src="../assets/customer-reviews/ice-cream-1.jpg" alt=""></li>
            <li><img class="customer__img" src="../assets/customer-reviews/ice-cream-2.jpg" alt=""></li>
            <li><img class="customer__img" src="../assets/customer-reviews/ice-cream-3.jpg" alt=""></li>
        </ul> 
        <ul>
            <li>
                <img src="#" alt="">
                <p></p>
                <p></p>
            </li>
            <li>
                <img src="#" alt="">
                <p></p>
                <p></p>
            </li>
            <li>
                <img src="#" alt="">
                <p></p>
                <p></p>
            </li>
        </ul>
        </div>
    </div>
</section>