<section class="test">

</section>
<section class="customer">
    <div class="customer__bg">
        <div class="customer__container customer__block" data-slider="team-slider">
            <h1 class="customer__titel">Customer-Reviews</h1>
            <div class="swiper-1">
                <ul class="swiper-wrapper">
                    <li class="customer__list swiper-slide customer__item" >
                        <img class="customer__img" src="../assets/customer-reviews/ice-cream-1.jpg" alt="">
                    </li>
                    <li class="customer__list swiper-slide customer__item" >
                        <img class="customer__img" src="../assets/customer-reviews/ice-cream-2.jpg" alt="">
                    </li>
                    <li class="customer__list swiper-slide customer__item" >
                        <img class="customer__img" src="../assets/customer-reviews/ice-cream-3.jpg" alt="">
                    </li>
                </ul>   
            </div>
            <div class="swiper-2">            
                <ul class="swiper-wrapper">
                    <li class="customer__list swiper-slide">
                        <!-- <img class="customer__img" src="../assets/customer-reviews/ice-cream-1.jpg" alt=""> -->

                        <img class="customer__photo" srcset="../assets/customer-reviews/photo-review-1-85px.jpg 1x, ../assets/customer-reviews/photo-review-1-170px.jpg 2x"               
                        src="../assets/customer-reviews/photo-review-1-85px.jpg" alt="photo">
                        <p class="customer__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! 
                            In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                        <p>Emily, Los Angeles</p>
                    </li>
                    <li class="customer__list swiper-slide" >
                        <!-- <img class="customer__img" src="../assets/customer-reviews/ice-cream-2.jpg" alt=""> -->

                        <img class="customer__photo" srcset="../assets/customer-reviews/photo-review-2-85px.jpg 1x, ../assets/customer-reviews/photo-review-2-170px.jpg 2x"               
                        src="../assets/customer-reviews/photo-review-2-85px.jpg" alt="photo">
                        <p>Every day we come to you with friends after classes in college. 
                            We love your ice cream and casual atmosphere! </p>
                        <p>Bryan, New-York</p>
                    </li>
                    <li class="customer__list swiper-slide" >
                        <!-- <img class="customer__img" src="../assets/customer-reviews/ice-cream-3.jpg" alt=""> -->

                        <img class="customer__photo" srcset="../assets/customer-reviews/photo-review-3-85px.jpg 1x, ../assets/customer-reviews/photo-review-3-170px.jpg 2x"               
                        src="../assets/customer-reviews/photo-review-3-85px.jpg" alt="photo">
                        <p>Ice cream is my passion! I love your chocolate hazelnut ice cream! 
                            And I really like the excellent service - always served politely and quickly!</p>
                        <p>Diana, Chicago</p>
                    </li>
                </ul>
                <ul class="swiper-pagination"></ul>
            </div>
            
        </div>
    </div>    
</section>