<section class="customer">
    <div class="customer__container">
        <!-- <ul>
            <li><img src="#" alt=""></li>
            <li><img src="#" alt=""></li>
            <li><img src="#" alt=""></li>
        </ul>
        <ul>
            <li>
                <img src="#" alt="">
                <p></p>
                <p></p>
            </li>
            <li>
                <img src="#" alt="">
                <p></p>
                <p></p>
            </li>
            <li>
                <img src="#" alt="">
                <p></p>
                <p></p>
            </li>
        </ul> -->
    </div>
</section>