<footer class="page-footer">
    <div class="page-footer__container container">
       <div class="page-footer__main-part">

       <div class="page-footer__title">
        <span class="page-footer__header">HOMEMADE ICE CREAM MADE</span>
        <span class="page-footer__additional-header">with passion</span>
       </div>
       <div class="page-footer__contacts">
       <ul class="icon-list">
        <li class="icon-list__item">
            <a href="#" class="icon-list__link" aria-label="telegram icon">
            <svg class="icon-list__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
            </a>
        </li>
        <li class="icon-list__item">
            <a href="#" class="icon-list__link" aria-label="github icon">
            <svg class="icon-list__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
            </a>
        </li>
        <li class="icon-list__item">
            <a href="#" class="icon-list__link" aria-label="facebook icon">
            <svg class="icon-list__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
            </a>
        </li>
    </ul>
    <a href="tel:+610383766284" class="page-footer__mobile" target = "_ blank"><span class="page-footer__text">Feel free to contact </span>+61 (0) 383 766 284</a>
    </div>
    </div>

    <div class="copyright page-footer__copyright">
        <p class="copyright__text">&copy; 2022 - IceCream.
            All Rights Reserved.</p>
    </div>
    </div>
</footer>