<!-- Основна навігація -->
<div class="container">
  <nav class="main-nav">
    <a href="./index.html" class="logo">
      <img
        class="logo__image"
        srcset="./images/logo.png 1x, ./images/logo@2x.png 2x"
        src="./images/logo.png"
        alt="Logo"
      />
    </a>
    <button
      type="button"
      class="menu-button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      data-menu-button
    >
      <svg
        width="32"
        height="32"
        class="menu-button__icon"
        aria-label="Перемикач мобільного меню"
      >
        <use
          class="menu-button__icon-cross"
          href="./images/symbol-defs.svg#icon-cross"
        ></use>
        <use
          class="menu-button__icon-menu"
          href="./images/symbol-defs.svg#icon-menu"
        ></use>
      </svg>
    </button>
    <div class="main-nav__wrapper" id="mobile-menu" data-menu>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a href="./index.html" class="site-nav__link" data-menu-link>Home</a>
        </li>
        <li class="site-nav__item">
          <a href="#how-its-made" class="site-nav__link" data-menu-link
            >How it’s made?</a
          >
        </li>
        <li class="site-nav__item">
          <a href="#Products" class="site-nav__link" data-menu-link
            >Our products</a
          >
        </li>
        <li class="site-nav__item">
          <a href="#contact" class="site-nav__link" data-menu-link>Contact</a>
        </li>
      </ul>
      <button
        type="button"
        class="buy-now-button buy-now-button--tablet-disabled"
        data-modal-buy-now-open
      >
        Buy now
        <svg class="buy-now-button__icon">
          <use href="./images/symbol-defs.svg#btn-arrow"></use>
        </svg>
      </button>
    </div>
    <button
      type="button"
      class="buy-now-button buy-now-button--mobile-disabled"
      data-modal-buy-now-open
    >
      Buy now
      <svg class="buy-now-button__icon">
        <use href="./images/symbol-defs.svg#btn-arrow"></use>
      </svg>
    </button>
  </nav>
</div>
