<section class="hero">
  <div class="container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <ul class="hero__list-menu">
      <li class="hero__list-item list">
        <a href="" class="hero__link hero__link--first">Products</a>
      </li>
      <li class="hero__list-item list">
        <a href="" class="hero__link hero__link--second">How it’s made?</a>
      </li>
    </ul>
    <p class="hero__text"><span class="hero__number">16</span>cafes</p>
    <p class="hero__text"><span class="hero__number">23</span>food trucks</p>
    <!-- <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/hero_ice-cream_225.webp 225w,
          ./images/hero/hero_ice-cream_450.webp 450w
        "
        sizes="225px"
        type="image/webp"
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/hero_ice-cream_225.jpg 225w,
          ./images/hero/hero_ice-cream_450.jpg 450w
        "
        sizes="225px"
        type="image/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/hero_ice-cream_152.webp 152w,
          ./images/hero/hero_ice-cream_304.webp 304w
        "
        sizes="152px"
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/hero_ice-cream_152.jpg 152w,
          ./images/hero/hero_ice-cream_304.jpg 304w
        "
        sizes="152px"
        type="image/jpg"
      />
      <img
        class="hero__img"
        src="./images/hero/hero_ice-cream_152.jpg"
        alt="ice-cream"
        height="152"
        loading="lazy"
      />
    </picture> -->
    <div class="hero__wrapper wrapper">
      <!-- <img
        srcset="
          ./images/hero/hero_ice-cream_152.jpg 152w,
          ./images/hero/hero_ice-cream_225.jpg 225w,
          ./images/hero/hero_ice-cream_304.jpg 304w,
          ./images/hero/hero_ice-cream_450.jpg 450w
        "
        sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 100vw"
        src="./images/hero/hero_ice-cream_152.jpg"
        alt="ice-cream"
        class="wrapper__img"
        loading="lazy"
      /> -->
      <p class="wrapper__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
    </div>
    <div class="hero__img-wrapper">
      <img
        srcset="
          ./images/hero/ice-cream_177.png 177w,
          ./images/hero/ice-cream_268.png 268w,
          ./images/hero/ice-cream_354.png 354w,
          ./images/hero/ice-cream_456.png 456w,
          ./images/hero/ice-cream_536.png 536w,
          ./images/hero/ice-cream_912.png 912w
        "
        sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (min-width: 320px) 177px, 100vw"
        src="./images/hero/ice-cream_177.png"
        alt="ice-cream"
        class="hero__img"
        loading="lazy"
      />
    </div>
  </div>
</section>
