<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      ice cream made with <span class="hero__title--large">passion</span>
    </h1>
    <ul class="hero__list-menu">
      <li class="hero__list-item list">
        <a href="#Products" class="hero__link hero__link--first">Products</a>
      </li>
      <li class="hero__list-item list">
        <a href="#how-its-made" class="hero__link hero__link--second"
          >How it’s made?</a
        >
      </li>
    </ul>
    <div class="hero__text-wrapper">
      <p class="hero__text">
        <span class="hero__number">16</span><br />
        cafes
      </p>
      <p class="hero__text">
        <span class="hero__number">23</span><br />
        food trucks
      </p>
    </div>
    <div class="hero__wrapper wrapper">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/plate_ice-cream_225.png 225w,
            ./images/hero/plate_ice-cream_450.png 450w
          "
          sizes="225px"
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/plate_ice-cream_152.png 152w,
            ./images/hero/plate_ice-cream_304.png 304w
          "
          sizes="152px"
          type="image/png"
        />
        <img
          class="hero__img-plate"
          src="./images/hero/plate_ice-cream_152.png"
          alt="a plate with ice-cream"
          height="152"
          loading="lazy"
        />
      </picture>
      <p class="wrapper__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
    </div>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/ice-cream_456.png 456w,
          ./images/hero/ice-cream_912.png 912w
        "
        sizes="456px"
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/ice-cream_268.png 268w,
          ./images/hero/ice-cream_536.png 536w
        "
        sizes="268px"
        type="image/png"
      />
      <source
        media="(min-width: 320px)"
        srcset="
          ./images/hero/ice-cream_177.png 177w,
          ./images/hero/ice-cream_354.png 354w
        "
        sizes="177px"
        type="image/png"
      />
      <img
        class="hero__img"
        src="./images/hero/ice-cream_177.png"
        alt="ice-cream"
        height="217"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/group-point_1200.png 1200w,
          ./images/hero/group-point_2400.png 2400w
        "
        sizes="1200px"
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/group-point_768.png   768w,
          ./images/hero/group-point_1536.png 1536w
        "
        sizes="768px"
        type="image/png"
      />
      <source
        media="(min-width: 320px)"
        srcset="
          ./images/hero/group-point_320.png 320w,
          ./images/hero/group-point_640.png 640w
        "
        sizes="320px"
        type="image/png"
      />
      <img
        class="hero__group-point"
        src="./images/hero/group-point_320.png"
        alt="ice-cream"
        height="50"
        loading="lazy"
      />
    </picture>
  </div>
</section>
