<div class="backdrop is-hidden" data-modal-locations="">
  <div class="locations-modal modal">
    <button class="close-btn" data-modal-close>
      <svg class="close-btn__icon" width="20" height="20">
        <use href="./images/icons.svg#close-icon__mob"></use>
      </svg>
    </button>
    <h2 class="locations-modal__title">Our Locations</h2>

    <iframe
      class="locations-modal__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.55860864262!2d34.4871991408496!3d49.60213457600852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2sPoltava%2C%20Poltava%20Oblast%2C%2036000!5e0!3m2!1sen!2sua!4v1671910230403!5m2!1sen!2sua"
      loading="lazy"
      allowfullscreen=""
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    <button class="locations-modal__button" type="button">
      <span>
        <a
          class="locations-modal__link"
          href="https://goo.gl/maps/CHs9M5zNwjrKm2xAA"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Open map</a
        >
      </span>
    </button>
  </div>
</div>
