<div class="backdrop is-hidden" data-modal-buy-now>
  <div class="modal-buy-now modal">
    <button class="close-btn" data-modal-buy-now-close>
      <svg class="close-btn__icon close-btn--icon-mob" width="20" height="20">
        <use href="./images/symbol-defs.svg#close-icon__mob"></use>
      </svg>
      <svg class="close-btn__icon close-btn--icon-desk" width="24" height="24">
        <use
          class="close-btn__icon-desk"
          href="./images/symbol-defs.svg#close-icon__desk"
        ></use>
      </svg>
    </button>
    <p class="modal-buy-now__text">Buy now</p>
    <form class="form-buy-now">
      <ul class="modal-buy-now__product-list">
        <li class="modal-buy-now__product-item">
          <label class="modal-buy-now__label">
            <input
              class="modal-buy-now__checkbox modal-buy-now__checkbox--visually-hidden"
              type="checkbox"
              name="ice-cream"
              value="ice-cream"
            />
            <div class="modal-buy-now__checkbox-icon">
              <img
                class="modal-buy-now__image"
                srcset="
                  ./images/buy-now-ice-cream.png    1x,
                  ./images/buy-now-ice-cream@2x.png 2x
                "
                src="./images/buy-now-ice-cream.png"
                alt="Ice cream"
                width="132"
                height="164"
              /><span class="modal-buy-now__title">Ice cream</span>
            </div>
          </label>
        </li>

        <li class="modal-buy-now__product-item">
          <label class="modal-buy-now__label">
            <input
              class="modal-buy-now__checkbox modal-buy-now__checkbox--visually-hidden"
              type="checkbox"
              name="ice-coffee"
              value="ice-coffee"
            />
            <div
              class="modal-buy-now__checkbox-icon modal-buy-now__checkbox-icon--border-yellow"
            >
              <img
                class="modal-buy-now__image"
                srcset="
                  ./images/buy-now-ice-coffee.png    1x,
                  ./images/buy-now-ice-coffee@2x.png 2x
                "
                src="./images/buy-now-ice-coffee.png"
                alt="Ice coffee"
                width="132"
                height="164"
              /><span class="modal-buy-now__title">Ice coffee</span>
            </div>
          </label>
        </li>

        <li class="modal-buy-now__product-item">
          <label class="modal-buy-now__label">
            <input
              class="modal-buy-now__checkbox modal-buy-now__checkbox--visually-hidden"
              type="checkbox"
              name="milkshake"
              value="milkshake"
            />
            <div
              class="modal-buy-now__checkbox-icon modal-buy-now__checkbox-icon--border-brown"
            >
              <img
                class="modal-buy-now__image"
                srcset="
                  ./images/buy-now-milkshake.png    1x,
                  ./images/buy-now-milkshake@2x.png 2x
                "
                src="./images/buy-now-milkshake.png"
                alt="Milkshake"
                width="132"
                height="164"
              /><span class="modal-buy-now__title">Milkshake</span>
            </div>
          </label>
        </li>
      </ul>

      <input
        type="text"
        name="name"
        id="name"
        class="form-buy-now__input"
        placeholder="Name"
        pattern="^[a-zA-Z]+$"
        title="Username should only contain letters. e.g. John"
      />
      <input
        type="tel"
        name="phone"
        id="phone"
        class="form-buy-now__input"
        placeholder="Phone"
        pattern="^\+\d{2}\d{3}\d{3}\d{2}\d{2}$"
        title="Phone number should only contain format e.g. +3801234567"
      />
      <textarea
        class="form-buy-now__textarea"
        name="comment"
        id="comment"
        placeholder="Comment"
      ></textarea>
      <button type="submit" class="form-buy-now__button">Submit</button>
    </form>
  </div>
</div>
