<section class="products centered">
  <div class="container">
    <p class="natural-product">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__list-item">
        <img
          srcset="../img/ice-cream.svg 200w, ../img/desk-cream.svg 300w"
          src="../img/ice-cream.svg"
          width="200"
          alt="Морозиво"
          sizes="(min-width: 1200px) 33vw, (min-width: 768px) 50vw, 100vw"
          class="products__img"
        />
        <div class="wrap-text">
          <h3 class="products__list-title cream">ice cream</h3>
          <p class="products__list-text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
      </li>
      <li class="products__list-item">
        <img
          class="products__img"
          srcset="../img/ice-coffee.svg 200w, ../img/desk-coffe.svg 300w"
          src="../img/ice-coffee.svg"
          alt="Кофе"
          width="200"
        />
        <div class="wrap-text">
          <h3 class="products__list-title coffee">ice coffee</h3>
          <p class="products__list-text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
      </li>
      <li class="products__list-item">
        <img
          class="products__img"
          srcset="../img/milkshakes.svg 200w, ../img/desk-milkshakes.svg 300w"
          src="../img/milkshakes.svg"
          alt="Молочний коктейль"
          width="200"
        />
        <div class="wrap-text">
          <h3 class="products__list-title milkshakes">milkshakes</h3>
          <p class="products__list-text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
