<section class="products centered sections">
  <div class="container">
    <p class="natural-product">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__list-item">
        <img
          src="./images/tel_cream.png"
          alt="Морозиво"
          class="products__img-tel"
        />

        <img
          src="./images/desc_cream.png"
          alt="Морозиво"
          class="products__img-desc"
        />

        <div class="wrap-text">
          <h3 class="products__list-title cream">ice cream</h3>
          <p class="products__list-text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
      </li>
      <li class="products__list-item">
        <img
          class="products__img-tel"
          src="./images/tel_koffee.png"
          alt="Кофе"
        />
        <img
          src="./images/desc_koffee.png"
          alt="Морозиво"
          class="products__img-desc"
        />
        <div class="wrap-text">
          <h3 class="products__list-title coffee">ice coffee</h3>
          <p class="products__list-text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
      </li>
      <li class="products__list-item">
        <img
          class="products__img-tel"
          src="./images/tel_shakes.png"
          alt="Молочний коктейль"
        />
        <img
          src="./images/desc_shakes.png"
          alt="Морозиво"
          class="products__img-desc"
        />
        <div class="wrap-text">
          <h3 class="products__list-title milkshakes">milkshakes</h3>
          <p class="products__list-text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>

        <!-- модалка -->
      </li>
    </ul>
  </div>
</section>
