.customer{ 
    
    &__bg{   
        position:relative;
        width: 100vw;
        height: 100vh;
        padding-top: 178px;
        padding-bottom: 393px;
        
        margin-left: auto;
        margin-right: auto;              
            
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;

        @media screen and (max-width:767px){
            max-width: 480px;
            background-image: url(../../assets/customer-reviews/backgroud_mobile.jpg);
        }
        @media screen and (min-width:768px) and (max-width:1199px){
            max-width: 768px;
            background-image: url(../../assets/customer-reviews/background_tablet.jpg);
        }
        @media screen and (min-width:1200px){
            max-width: 1300px;
            background-image: url(../../assets/customer-reviews/backgroud_desktop.jpg);
        }
    }

    &__container{
        min-width: 320px;
        max-width: 1200px;
        margin: 0 auto;

        @media screen and (min-width: 320px) {
            width: 320px;
            padding-left: 20px;
            padding-right: 20px;
            }

        @media screen and (min-width: 768px) {
            width: 768px;
            padding-left: 32px;
            padding-right: 32px;
            }

        @media screen and (min-width: 1200px) {
            width: 1200px;
            padding-left: 16px;
            padding-right: 16px;
            }
    }
    
    &__titel{
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }    
    &__img{
        // display: flex;
        max-width: 280px;
        // position:fixed;
        // top:0;
        // left:0;
        // transform: translate(10px, 20px);

    }
    &__list{
        list-style: none;
    }
    &__item {
    text-align: center;
    
  }
  
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.swiper__pagination {    
    bottom: 0;   
  }
.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: black;
}

.swiper-1 .swiper-wrapper{
    position: absolute;
    top:-32px;
    
}
.swiper-wrapper{
    margin:0;
}
.test{
    height: 250px;
    background-color: white;
}
// .swiper-slide-active{
//     overflow: hidden;
// }